.courses {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }  
}

.courses__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.courses__item {
  flex-basis: calc((100% - 60px) / 3);
}
.courses__img {
  position: relative;
  display: flex;
}
.courses__label {
  position: absolute;
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;

  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.14;
  background-color: rgba(47, 48, 58, 0.8);
}
