.students {
  background-color: var(--background-color-button);
}

.students__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.students__item {
  padding: 30px 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 440px;
  
  background: var(--white-color);
  box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }

  .student__feedback {
    letter-spacing: 0.05em;
    line-height: 1.45;
  }
}

.students__imgBox {
  width: 72px;
  height: 72px;
  overflow: hidden;
  margin: 0 auto 10px;
}

.students__img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.member__title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.member__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}