.terms {
  background-color: var(--background-color-secondary);
}

.terms__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    font-size: 22px;
  }
}
