.thanks {
  background-color: var(--background-color-secondary);
}

.thanks__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.thanks__description {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.54;
  letter-spacing: 0.06em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    padding: 0 40px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    padding: 0 120px;
  }
}