.footer-social {
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-icon-footer);
  color: var(--white-color);
  transition: background-color var(--anim-fast);

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: var(--white-color);
  }
}

.footer-social__icon {
  fill: currentColor;
}